.fas{
  font-size: 70px;
  color: white;
  margin-left: 50%;
  margin-top: 2%;
}
.titulo{
  font-size: 40px;
  margin-top: 2%;
  margin-left: 47%;
  color: white;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
   .titulo{
    margin-left: 44%;
   }
 }
