.card{
  margin-top: -26%;
  margin-left: 22%;
}
.card-img-top{
  background-color: white;
}
.card-body{
  background-color: rgb(86, 110, 110);
}
.card-text{
  color: white;
}
.profesion{
  color: white;
}

@media (min-width: 992px) and (max-width: 1160px) {

  .card{
    margin-top: -37%;
    margin-left: 15%;
  }

 }
