.navbar{
  z-index: 9999;
  position: sticky;
  top: 0;
  padding: 5px;
  box-shadow: 2px 2px 2px 2px;
}
.navbar-toggler{
  background-color: aliceblue;
}
.bg-light{
  background-color: #313034 !important;
}
.navbar-light .navbar-nav .nav-link{
  color: gray;
}
.navbar-light .navbar-nav .nav-link:hover{
  color: white;
}
.navbar-brand{
 color: white;
}
.navbar-brand:hover{
  color: white;
}
.navbar-light .navbar-nav .active>.nav-link{
  color: white;
}
.fab{
  font-size: 25px;
}


