.d-block{
  width: 40%;
  height: 400px;
  margin-top: 4%;
  margin-left: 30%;
  box-shadow: 5px 5px 15px 3px;
}
.carousel-control-prev{
  margin-top: 13%;
  margin-left: 33%;
  width: 100px;
  height: 100px;
}
.carousel-control-next-icon{
    width: 50px;
}
.carousel-control-next{
  margin-top: 13%;
  margin-right: 33%;
  width: 100px;
  height: 100px;
}
.carousel-control-next-icon{
    width: 50px;
}
.carousel-indicators{
  margin-left: 17%;
}

@media (min-width: 250px) and (max-width: 500px) {
  /* Solo se aplicarán entre los tamaños indicados */
  .bg-light{
    width: 100px;
    height: 50px;
    background-color: blue !important;
  }
  .mr-auto, .mx-auto{
    margin-right: 20px;
  }
  .navbar-nav{
    padding-left: none;
  }
  .d-block{
    height: 400px;
  }
}

@media (min-width: 900px) and (max-width: 1200px) {
  /* Solo se aplicarán entre los tamaños indicados */
  .carousel-indicators{
    margin-left: 20%;
  }
  .d-block{
    width: 500px;
    height: 300px;
  }
  .carousel-control-next-icon{
    margin-left: 80px;
  }
}


