<div class="card bg-light" style="max-width: 50rem;">
  <div class="card-header">Experiencia</div>
  <div class="card-body">
    <h5 class="card-title">Prácticas - Atmira Espacio de Consultoría</h5>
    <p class="card-text">
      Formación académica en el framework Ángular, SCRUM Ágil y colaboración en
      proyectos.
    </p>
  </div>
  <div class="card-footer">
    <small class="text-muted">Marzo 2019 - Junio 2019</small>
  </div>

  <div class="card-body">
    <h5 class="card-title">Prácticas - Federación Cordobesa de Fútbol</h5>
    <p class="card-text">
      Administración del programa informático de la Federación Cordobesa de
      Fútbol para la gestión de equipos y jugadores de la provincia..
    </p>
  </div>
  <div class="card-footer">
    <small class="text-muted">Sept 2016 - Dic 2016</small>
  </div>
</div>

<div class="card bg-light educacion" style="max-width: 50rem;">
  <div class="card-header">Educación</div>
  <div class="card-body">
    <h5 class="card-title">
      Grado Superior de Desarrollo de Aplicaciones Multiplataforma
    </h5>
    <p class="card-text">IES Francisco de los Rios</p>
  </div>
  <div class="card-footer">
    <small class="text-muted">2017 - 2019</small>
  </div>

  <div class="card-body">
    <h5 class="card-title">Bachillerato</h5>
    <p class="card-text">Ciencias Sociales</p>
  </div>
  <div class="card-footer">
    <small class="text-muted">2016 - 2017</small>
  </div>

  <div class="card-body">
    <h5 class="card-title">Grado Medio de Sistemas Microinformaticos y Redes</h5>
    <p class="card-text">CES Lope de vega</p>
  </div>
  <div class="card-footer">
    <small class="text-muted">2013 - 2015</small>
  </div>
</div>
