<app-navbar></app-navbar>
<i class="fas fa-user"></i>
<p class="titulo">
  Sobre mi
</p>

<p class="info">
  Buenas, acabo de terminar este año el Ciclo Superior de Desarrollo de Aplicaciones Multiplataforma
  en el IES Francisco De Los Ríos. Soy Técnico Superior en Desarrollo de Aplicaciones Multiplataforma
  y Técnico en Sistemas MicroInformáticos y Redes.
  <br>
  <br>
  He estado en Atmira durante 3 meses realizando las practicas de Formación en Centros de Trabajo, me sirvió para aprender
  a desarrollar páginas webs en Angular. También estuve en la Federación Cordobesa de Fútbol de prácticas de Formación en Centro de Trabajo de Grado Medio de Sistemas MicroInformaticos
  y redes que fue mi primera experiencia en el mundo laboral.
  <br>
  <br>
  Me gusta tanto Desarrollar Apps como Desarrollar páginas webs.
  En mi tiempo libre también investigo nuevos lenguajes y frameworks. Te invito a que veas mi proyecto de FP Superior que está hecho en Flutter.
</p>
<app-card></app-card>
