<app-navbar></app-navbar>
<i class="fas fa-user"></i>
<p class="titulo">
  Sobre mi
</p>

<p class="info">
  Buenas, acabo de terminar este año el Ciclo Superior de Desarrollo Multiplataforma en el IES Francisco De Los Ríos.
  He estado en Atmira durante 3 meses realizando las practicas de Formación en Centros de Trabajo. También estuve en la
  Federación Cordobesa de Fútbol de prácticas de Formación en Centro de Trabajo de Grado Medio de Sistemas MicroInformaticos
  y redes.
</p>
<app-card></app-card>
