<div class="container-fluid">
    <div class="centered text-center">
      <!--div to vertically center element on the screen, delete the centered class to avoid the effect -->
      <div class="pj-card">
        <img src="https://images.unsplash.com/photo-1416339684178-3a239570f315?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80" class="img-fluid" alt="">
        <h5><a href="">FOLLOW</a></h5>
        <div class="description">
          <h4>LOREM TITLE</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae est nulla temporibus! Reiciendis rem pariatur iste illo, voluptas.

          </p>
          <p>
            <i class="fab fa-html5" title="HTML 5"></i><i class="fab fa-css3-alt" title="CSS 3"></i><i class="fab fa-js" title="JavaScript"></i><i class="fab fa-php" title="php"></i>
          </p>
        </div>
      </div>
      <div class="pj-card">
        <img src="https://images.unsplash.com/photo-1455994972514-4624f7f224a7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80" class="img-fluid" alt="">
        <div class="description">
          <h4>LOREM TITLE</h4>
          <div class="p-descr">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae est nulla temporibus! Reiciendis rem pariatur iste illo, voluptas.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae est nulla temporibus! Reiciendis rem pariatur iste illo, voluptas.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae est nulla temporibus! Reiciendis rem pariatur iste illo, voluptas.</p>
          </div>
          
        </div>
      </div>
      <div class="pj-card">
        <img src="https://images.unsplash.com/photo-1492724441997-5dc865305da7?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" class="img-fluid" alt="">
        <div class="description">
          <h4>LOREM TITLE</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae est nulla temporibus! Reiciendis rem pariatur iste illo, voluptas.</p>
        </div>
      </div>
    </div>

  </div>
