<div class="container-fluid">
    <div class="centered text-center">
      <!--div to vertically center element on the screen, delete the centered class to avoid the effect -->
      <div class="pj-card">
        <a href="https://github.com/rujex/barberia">
        <img src="https://images.unsplash.com/photo-1416339684178-3a239570f315?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80" class="img-fluid" alt="">
        <h5>VERSIÓN BETA</h5>
        <div class="description">
          <h4>Barberia</h4>
          <p>
            Con Barberia App el cliente podrá reservar cita para corte de pelo o arreglo de barba. También podrás comprar productos.
            <br>
            Proyecto Integrado 40 horas.
          </p>
          <p>
            <img class="dart" src="../../../assets/dart.png" alt="">
            <img class="flutter" src="../../../assets/flutter.png" alt="">
          </p>
        </div>
      </a>
      </div>

      <div class="pj-card">
        <a href="https://rujex.github.io/pachangafriendlyapppage/">
        <img src="https://images.unsplash.com/photo-1416339684178-3a239570f315?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80" class="img-fluid" alt="">
        <h5>VERSIÓN BETA</h5>
        <div class="description">
          <h4>Pachanga Friendly</h4>
          <p>
              Reserva de actividades deportivas (fútbol, pádel, baloncesto, etc.) en Polideportivos.
            <br>
              Práctica del módulo Desarrollo de Interfaces, realizada con Ionic y Firebase.
          </p>
          <p>
            <img class="ionic" src="../../../assets/ionic.png" alt="">
            <img class="angular" src="../../../assets/angular.png" alt="">
          </p>
        </div>
      </a>
      </div>


    </div>

  </div>
