<div class="container">
    <div class="row align-items-start">
      <div class="col">
        <img src="../../../assets/prueba.png" alt="">
      </div>
      <div class="col">
          <img src="../../../assets/prueba.png" alt="">
      </div>
      <div class="col">
          <img src="../../../assets/prueba.png" alt="">
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col">
          <img src="../../../assets/prueba.png" alt="">
      </div>
      <div class="col">
          <img src="../../../assets/prueba.png" alt="">
      </div>
      <div class="col">
          <img src="../../../assets/prueba.png" alt="">
      </div>
    </div>
    <div class="row align-items-end">
      <div class="col">
          <img src="../../../assets/prueba.png" alt="">
      </div>
      <div class="col">
          <img src="../../../assets/prueba.png" alt="">
      </div>
      <div class="col">
          <img src="../../../assets/prueba.png" alt="">
      </div>
    </div>
  </div>
